<h1>Редактирование</h1>
<div>
  <form id="editForm" method="POST" action="/riskList/editForm">
    {{#if isAdmin}}
    <div>
      <label>Статус:
        <input name="approval" type="checkbox" value="approved">Утверждён
      </label>
    </div>
    {{/if}}
    <div>
      <label>Вид налога:
        <select size="1" name="tax">
          <option value="Налог на добавленную стоимость">Налог на добавленную стоимость</option>
          <option value="Акцизы на этиловый спирт, алкогольную и (или) подакцизную спиртосодержащую продукцию">
            Акцизы на этиловый спирт, алкогольную и (или) подакцизную спиртосодержащую продукцию</option>
          <option value="Налог на прибыль организаций">Налог на прибыль организаций</option>
          <option value="Сбор за пользование объектами животного мира">Сбор за пользование объектами животного мира
          </option>
        </select>
      </label>
    </div>
    <div>
      <label>Наименование риска:
        <input name="riskName" type="text">
      </label>
    </div>
    <div>
      <label>Описание:
        <input name="riskDescription" type="text">
      </label>
    </div>
    <div>
      <label>Операция или группа операций (приводящих к риску):
        <select size="2" multiple name="riskOperation">
          <option value="Вознаграждение за открытие и ведение банковских счетов">Вознаграждение за открытие и ведение
            банковских счетов</option>
          <option value="Формирование налоговой отчетности  по налогу на прибыль">Формирование налоговой отчетности по
            налогу на прибыль</option>
        </select>
      </label>
    </div>
    <div>
      <label>Cпособ выявления (вариант: меню):
        <select multiple size="6" name="wayDetection">
          <option value="Опросный лист">Опросный лист</option>
          <option value="Анализ входящих данных">Анализ входящих данных</option>
          <option value="Анализ графических данных">Анализ графических данных</option>
          <option value="Консультации специалистов">Консультации специалистов</option>
          <option value="Инспекционная и ревизионная деятельность">Инспекционная и ревизионная деятельность</option>
          <option value="Неверное распределение доходов по видам">Неверное распределение доходов по видам</option>
        </select>
      </label>
    </div>
    <div>
      <label>Cпособ выявления (вариант: checkbox):
        <div><input name="wayDetection" type="checkbox" value="Опросный лист">Опросный лист</div>
        <div><input name="wayDetection" type="checkbox" value="Анализ входящих данных">Анализ входящих данных</div>
        <div><input name="wayDetection" type="checkbox" value="Анализ графических данных">Анализ графических данных
        </div>
        <div><input name="wayDetection" type="checkbox" value="Консультации специалистов">Консультации специалистов
        </div>
        <div><input name="wayDetection" type="checkbox" value="Инспекционная и ревизионная деятельность">Инспекционная и
          ревизионная деятельность</div>
        <div><input name="wayDetection" type="checkbox" value="Неверное распределение доходов по видам">Неверное
          распределение доходов по видам</div>
      </label>
    </div>
    <button type="submit">Редактировать</button>
  </form>
</div>
