<div class="centerForm">
  <img src="/images/logo.png" id="logo">
  <script defer src="/signin.js"></script>
  {{#if username}}
  <div class="button-ind">
    <button class="buttonClass" type="button" onclick="window.location.href = '/riskList';">Реестр</button>
    <button class="buttonClass" type="button" onclick="window.location.href = '/reports';">Отчёты</button>
  </div>
  {{else}}
  <form id="signinForm" method="POST" action="/signin">
    <div class="form-group">
      <label for="username">
        <input id="username" class="form-control" name="username" type="text" placeholder="ВВЕДИТЕ ЛОГИН" required
          pattern="[A-Za-z]\w+" minlength="4" title="Латинские буквы, цифры и _">
      </label>
    </div>
    <div id="form-group" class="form-group">
      <label for="password">
        <input id="password" class="form-control" name="password" type="password" placeholder="ВВЕДИТЕ ПАРОЛЬ" required
          minlength="6">
      </label>
    </div>
    <button class="buttonClass" type="submit">Войти</button>
  </form>
  {{/if}}
</div>
