<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Risk register</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Podkova:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  {{#if isSignup}}
  <script defer src="/signup.js"></script>
  {{/if}}
</head>

<body>
  <video muted autoplay loop>
    <source src="/images/vid.mp4" type="video/mp4">
  </video>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Главная</a>
    </li>
    {{#if isAdmin}}
    <li class="nav-item">
      <a class="nav-link" href="/signup">Зарегистрировать нового пользователя</a>
    </li>
    {{/if}}
    {{#if username}}
    <li class="nav-item">
      <a class="nav-link" href="/signout">Выйти</a>
    </li>
    {{/if}}
  </ul>
  <div class="container-fluid">
    {{{body}}}
  </div>
</body>


</html>