body {
  font-family: 'Podkova', serif
}

.logoAndButtons {
  display: flex;
  justify-items: start;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 75px;
}

.button-ind {
  margin: 0 135px 0 135px;
  padding: 7px 15px 7px 15px;
}

.buttonClass {
  width: 300px;
  height: 50px;
  font-weight: bold;
  font-size: 25px;
}

button {
  background-color: #62393e;
  border-radius: 8px;
  color: white
}


video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}

#logo {
  width: 600px;
  /* height: 15% */
}

th,
td {
  padding: 0 10px;
  background: burlywood;
  border: 0.05px solid #067bfe;
}

.nav {
  padding: 0 10px;
  background: #62393e;
}

.show {
  display: block;
}